@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  background-color: #8c9fc9;
  color: #323057;
}

h1, h2, h3 {
  color: #212136;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  transition: .4s;
}

.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: 'Major Mono Display';
}

.section__title-gradient {
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  width: 1.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  color: #465372;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #d6d2b8;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.nav__link {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #222c42;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.nav__link:hover {
  background: #FFF;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: .4s;
}

.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: #333144;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.scroll-header {
  background-color: #4f648b;
}

.active-link {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home__img {
  width: 350px;
  height: 300px;
  margin-top: 13rem;
  right: 1.5rem;
  border-radius: 20px;
}

.home__data {
  padding-top: 5rem;
}

.home__header {
  position: relative;
}

.home__title {
  position: absolute;
  top: -4rem;
  left: 0rem;
  line-height: 6rem;
  font-size: 3rem;
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home__subtitle {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  font-family: 'Major Mono Display';
}

.home__title-description {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

.home__price {
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: .75rem;
}

.button {
  display: inline-block;
  background-color: #333144;
  color: #f7f7d4;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  background-color: #191829;
}

.button__icon {
  font-size: 1.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}

.features__container {
  position: relative;
}

.features__content {
  row-gap: 1.5rem;
}

.features__data {
  display: grid;
  row-gap: .25rem;
}

.features__icon {
  font-size: 1.2rem;
  color: #323144;
}

.features__title {
  font-size: .938rem;
  font-weight: 500;
}

.features__subtitle {
  font-size: .75rem;
}

.features__data:nth-child(1), 
.features__data:nth-child(4) {
  margin-left: 1.5rem;
}

.features__img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
  border-radius: 20px;
}
  
.instructions__container {
  position: relative;
  background-color: #4d5f86;
  padding: 2rem 1.5rem;
  border-radius: .75rem;
}

.instructions__title {
  font-size: 1.125rem;
  margin-bottom: .75rem;
}

.instructions__description {
  margin-bottom: 1rem;
}

.instructions__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}
  
.footer {
  background-color: #343144;
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  width: 2rem;
}

.footer__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #8C9FC9;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__link {
  color: #beb4a2;
}

.footer__link:hover {
  color: #3f5286;
}

.footer__form {
  display: flex;
  column-gap: .5rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.footer__input {
  background-color: #61558d;
  width: 90%;
  color: #676e8d;
}

.footer__input::placeholder {
  color: #96b1e4;
  font-size: .938rem;
  font-family: 'Poppins', sans-serif;
}

.footer__social {
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: inline-flex;
  color: #333452;
  background-color: #8C9FC9;
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1rem;
}

.footer__social-link:hover {
  background-color: #596888;
}

.footer__copy {
  margin-top: 5rem;
  text-align: center;
}

.footer__copy-link {
  font-size: .75rem;
  color: #9d95bb;
}

::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(206, 4%, 16%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(206, 4%, 20%);
}
  
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .section__title {
    font-size: 2.5rem;
  }
  
  .home__img {
    width: 200px;
    top: -13rem;
  }
  
  .home__title {
    top: -4rem;
    font-size: 3.5rem;
  }
  
  .home__data {
    padding-top: 1rem;
  }
  
  .home__description {
    font-size: .813rem;
  }
  
  .features__img {
    width: 200px;
  }
}  

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: .8fr 1fr;
  }
  
  .home__data {
    padding-top: 2rem;
  }
  
  .home__img {
    top: -7rem;
    left: 0;
  }
  
  .features__img {
    position: initial;
  }
  
  .features__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .instructions__img {
    position: initial;
  }
  
  .instructions__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
}
  
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  
  .section {
    padding: 6rem 0 2rem;
  }
  
  .nav {
    height: calc(3rem + 1.5rem);
  }
  
  .nav__logo {
    width: 2rem;
  }
  
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  
  .nav__link {
    font-size: .938rem;
    text-transform: initial;
  }
  
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  
  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home__img {
    top: -9rem;
    left: 4rem;
  }
  
  .home__data {
    padding-top: 8rem;
  }
  
  .features__img {
    width: 300px;
  }
  
  .instructions__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 5rem;
    padding: 3rem 0;
  }
  
  .instructions__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .instructions__description {
    margin-bottom: 2rem;
  }
    
  .footer__container {
    grid-template-columns: .4fr .7fr .7fr 1fr;
  }
}

@media screen and (min-width: 968px) {
  body {
    font-size: 1rem;
  }
  
  .home__title {
    font-size: 7.5rem;
  }
  
  .home__subtitle {
    font-size: 4rem;
  }
  
  .home__title-description {
    font-size: 1.25rem;
  }
  
  .section__title {
    font-size: 4.5rem;
  }
  
  .nav__link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .home__img {
    width: 300px;
    top: -15rem;
  }
  
  .home__title {
    top: -5rem;
    left: 3.5rem;
  }
  
  .home__description {
    padding-right: 5rem;
  }
  
  .instructions__img {
    width: 350px;
  }
  
  .footer__container {
    padding-top: 3rem;
  }
  
  .footer__copy {
    margin-top: 9rem;
  }
}